
.all_list_all {
    width: 100%;
    height: 6rem;
    border-bottom: 1px solid rgba(215, 215, 215, 1);
    background-color: white;
}

.all_list_left {
    width: 25%;
    height: 6rem;
    line-height: 6rem;
    text-align: left;
    font-size: 1.5rem;
    float: left;
    color: black;
    direction: ltr;
    margin-left: 1.3rem;
}

.all_list_right {

    width: 70%;
    height: 6rem;
    float: right;
}

.all_list_right input {
    border: none;
    outline: none;
    font-size: 1.5rem;
    text-align: right;
    margin-right: 2rem;
    direction: ltr;
    margin-top: 2rem;
    height: 2rem;
    width: 80%;
    float: right;
}
.middle_content{
    margin-top: 2rem;
    background-color: white;
    height: 14rem;
    padding-top: 1rem;
}
.middle_content span{
    font-size: 1.5rem;
    margin-left: 1.3rem;
    color: black;
}
.zjimg_content{
    margin-top: 0.5rem;
    margin-left: 6.5rem;
    height: 10rem;
}
.zjimg{
    border: 1px solid rgba(121, 121, 121, 1);
    border-radius: 1rem;
    margin-right: 1rem;
    width: 45%;
    height: 8rem;
    float: left;
    
}
.zjimg img{
    margin: auto;
    margin-top: 2.5rem;
    margin-left: 35%;
    width: 4rem;
    height: 3rem;
}
.zjimg span{
    text-align: center;
    font-size: 1rem;
    margin-left: 20%;
}
.down_content{
    background: white;
    margin-top: 2rem;
    padding: 1rem 2rem 0 2rem;
    height: 6rem;

}
.btnsure{
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    background-color: rgba(231, 64, 58, 1);
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
    color: white;
    border-radius: 0.1rem; 
}